<!DOCTYPE html>
<html lang="en">
<head>
<%- include('headerDeptManagers.ejs'); -%>
</head>

<body>

<div class="wrapper">

	<%- include('topNavbar.ejs'); -%>

	<div class="main_body">
		<%- include('sidebarMenu.ejs'); -%>
		
	    <div class="container">
	    	<embed src="flip.php" style="width: -webkit-fill-available;height: -webkit-fill-available;">
	    </div>
	</div>
</div>
<%- include('footerActive.ejs'); -%>
</body>
</html>
